rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId
    }

    function isChatRoomMember(chatroomId) {
        return request.auth.uid in get(/databases/$(database)/documents/chatrooms/$(chatroomId)).data.members;
    }

    match /{document=**} {
      allow read, write: if false;
    }
    
    match /users/{userId}{
      allow read: if isSignedIn();
      allow write: if isOwner(userId);
    }
    
    match /chatrooms/{chatroomId}{
    	allow read: if isChatRoomMember(chatroomId) && isSignedIn();
      allow write: if true;

      match /messages/{messageId}{
        allow read, write: if isChatRoomMember(chatroomId) && isSignedIn();
      }
    }

    match /awaitingusers/{awaituserId}{
      allow read, write: if true;
    }
  }
}