@mixin button($font-size, $height, $width, $inverted: false){
    display: block;
    border: 1px solid var(--accent-color);
    font-size: var(--text-#{$font-size});
    font-weight: bold;
    cursor: pointer;
    padding: var(--space-sm) var(--space-md);
    border-radius: 10em;
    width: $width;
    height: calc(#{$height} + 2 * var(--space-sm));

    @if $inverted {
        color: var(--accent-color);
        background-color: var(--background-color-1);
    } @else {
        color: var(--background-color-1);
        background-color: var(--accent-color);
    }

    &:hover, &:focus {
        filter: brightness(90%);
    }
}

//This button is only for the submit button and hasn't been generalised yet