@use "../abstracts" as a;

.messageWrapper {
    display: flex;
    &.sent {
        justify-content: flex-end;
        .messageInfo {
            text-align: end;
        }
        .text {
            background-color: var(--sent-chat-color);
            border-radius: 1em 0 1em 1em
        }
    }
}

.message {
    display: flex;
    flex-direction: column;
    margin: var(--space-sm) var(--space-md);
    width: fit-content;
    max-width: calc(#{a.$chat-width} * 0.6);
    word-wrap: break-word;

    .text {
        background-color: var(--received-chat-color);
        border-radius: 0 1em 1em 1em;
        padding: var(--space-sm) var(--space-md);
    }
}

