@use "../abstracts" as a;

@mixin modal($width){
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $width;
    z-index: 10;
    border-radius: var(--space-sm);
    background-color: var(--background-color-1);
    pointer-events: all;

    @include a.media("<=tablet"){
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}