@use "../abstracts" as a;
@use "../components" as c;

.loginModal, .signupModal {
    @include c.modal(660px);

    .close-modal {
        position: absolute;
        top: var(--space-sm);
        right: var(--space-sm);
        text-align: center;
        background-color: var(--background-color-1);
        cursor: pointer;
        border: none;
        font-size: var(--text-xxl);
        line-height: var(--text-md);
    }

    .form-header {
        font-size: 1.5em;
    }

    form {
        @include a.flex(column, stretch, stretch);
        font-size: var(--text-md);

        label {
            margin-top: var(--space-md);
        }

        input {
            padding: var(--space-xs);
            margin-top: var(--space-sm);
            border: 1px solid black;
        }

        p {
            color: var(--error-color);
        }

        button {
            float: right;
            margin-top: var(--space-sm);
            text-align: center;
            @include c.button(xl, 1.8em, 7em, false);
        }
    }
}