@use "../abstracts" as a;
@use "../components" as c;

.landing {

    @include c.modal(660px);
    @include a.flex(column, center, center);
    background-color: var(--background-color-1);
    gap: var(--space-sm);
    font-size: 1.6em;
    padding: var(--space-lg) var(--space-md);

    header {
        @include a.flex(row, center, center);
        text-align: center;
        gap: var(--space-sm);

        @include a.media("<=phone"){
            width: 5em;
        }
    }
    
    button:first-of-type {
        @include c.button1(md, 2em, 8em, true);
        margin-bottom: var(--space-sm);
    }

    button:nth-of-type(2) {
        @include c.button1(md, 2em, 8em, false);
    }

    svg {
        cursor: pointer;
        width: 3em;
        height: 3em;
        fill: var(--text-color-1);
    }
}