@use "../abstracts" as a;

.topbar {
    @include a.flex(row, space-between, center);
    padding: 1.5rem;
    background-color: var(--background-color-1);
    color: var(--text-color-1); 

    ul {
        @include a.flex(row, center, space-evenly);
    }

    li {
        list-style-type: none;
        display: block;
        font-size: var(--text-lg);
        cursor: pointer;
        margin-right: var(--space-md);
    }

    svg {
        cursor: pointer;
        width: 3em;
        height: 3em;
    }

}

//Use paypal styling for header