@use "../abstracts" as *;

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: var(--background-color-1);
    color: var(--text-color-1); 

    ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 3rem;
    }

    li {
        list-style-type: none;
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    svg {
        cursor: pointer;
        width: 4em;
        height: 4em;
    }

}
