@use "../abstracts" as a;
@use "../components" as c;

.topbar {
    @include a.flex(row, space-between, center);
    padding: var(--space-md);
    background-color: var(--background-color-1);
    color: var(--text-color-1);
    box-shadow: 0 5px 5px hsl(0, 0%, 0%, 0.3);

    nav {
        @include a.flex(row, center, space-evenly);
    }

    button:first-of-type {
        margin-right: var(--space-md);
        @include c.button(md, 2em, true);
    }

    button:nth-of-type(2) {
        @include c.button(md, 2em, false);
    }

    svg {
        cursor: pointer;
        width: 3em;
        height: 3em;
        fill: var(--text-color-1);
    }
}

//Use paypal styling for header